.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 90%;
  left: 55%;
  right: 5%;
  color: white;
  background-color: rgb(13, 110, 253);
  padding: 0.5em;
  min-width: 5rem;
  border-radius: 12px;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}
